[submodule "camofox-browser"]
	path = camofox-browser
	url = https://github.com/Fectivnfy112357/camofox-browser.git
[submodule "opencli"]
	path = opencli
	url = https://github.com/Fectivnfy112357/OpenCLI.git
[submodule "camofox-shim"]
	path = camofox-shim
	url = https://github.com/Fectivnfy112357/camofox-shim.git
	branch = master
